@model FinanceNote.Models.Tayra

@{
    ViewData["Title"] = "削除の確認";
}

<h1>確認</h1>

<h3>あなたは次の項目を削除しようとしていますこの操作は取り消せません．</h3>
<div>
    <h4>Tayra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icoca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icoca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coop)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="確認して削除" class="btn btn-danger" /> |
        <a asp-action="Index">戻る</a>
    </form>
</div>
