@model FinanceNote.Models.Tayra

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tayra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icoca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icoca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coop)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
