@model IEnumerable<FinanceNote.Models.Tayra>

@{
    ViewData["Title"] = "小遣い帳トップ";
    decimal cashTotal = 0;
    decimal icocaTotal = 0;
    decimal coopTotal = 0;
}

<h1>小遣い帳トップ</h1>

<p>
    <a asp-action="Create">新規作成</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icoca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            cashTotal += item.Cash;
            icocaTotal += item.Icoca;
            coopTotal += item.Coop;
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icoca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coop)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">編集</a> |
                <a asp-action="Details" asp-route-id="@item.Id">詳細</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">削除</a>
            </td>
        </tr>

}
    </tbody>
</table>

<div class="sticky-bottom list-group">
    <div class="list-group-item">
        現金残高: @cashTotal
    </div>
    <div class="list-group-item">
        ICOCA 残高: @icocaTotal
    </div>
    <div class="list-group-item">
        生協電子マネー残高: @coopTotal
    </div>
</div>
